@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhaina+2&family=Cherry+Bomb+One&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.slidebar{
    background-color: rgb(223, 214, 214);
    /* color: wheat; */
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    height: 100vh;
    width: 10vw;
    padding: 30px;
}
.slidebar nav ul li{
    padding: 10px 0;
    list-style: none;
}
.slidebar nav ul li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
    
}
.contactform h1{
    font-family: 'Anton', sans-serif;
    /* width: 37vw; */
    /* text-align: center; */
    padding-bottom: 15px;

} 
.contactform{
    font-family: 'Roboto', sans-serif;
    margin: 0 3vw;
    padding-top: 10vh;

}  
.contactform form div{
    width: 30vw;
    border-radius: 5px;
    margin-bottom: 15px;
}

#emailHelp{
    margin-left: 1vw;
    font-size: 15px;
    width: 37vw;
    margin-top: 6px;

}
#phone{
    width: 30vw;
    border-radius: 4px;
}
#emails{
    width: 30vw;
    border-radius: 4px;
}
.btn button{
    cursor: pointer;
    padding: 8px;
    border-radius: 9px;
    width: 10vw;
    background-color: black;
    color: white;
}
.btn button:hover{
    cursor: pointer;
    padding: 8px;
    border-radius: 9px;
    width: 10vw;
    background-color:white;
    color:  black ;
}